<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mssql" connectionString="Server=localhost;Database=DeviceMeasurements;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="baseAddress" value="http://localhost:9000/" />
  </appSettings>
</configuration>